body {
    margin: 0;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #1F2937;
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 60px 50px;
    margin: 20px   
}

h1 {
    margin: 0;
}

h3 {
    color: white;
    font-weight: lighter;
    margin: 
}

#password-div {
    margin-top: 34.5px;
    padding-top: 50px;
    border-top: 2px solid #2F3E53;
    
}

#line-div {
    background-color: #2F3E53;
    width: 446px;
}

#generate-btn {
    background-color: #10B981;
    color: white;
    margin-top: 30px;
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    width: 191px;
    font-weight: lighter;
}

.password-btn {
    background-color: #273549;
    width: 211px;
    height: 39px;
    border: 0px;
    border-radius: 7px;
    margin-right: 15px;
    color: #55F991
}